@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --cor-branco: #ffffff;
    --cor-cinza: #c0c0c0;
    --cor-azul: #167bf7;
    --cor-background: #00030c;

    --font-principal: 'inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-background);
    color: var(--cor-branco);
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 400;
}

.principal {
    background-image: url(/assets/images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--cor-azul);
    border-radius: 8px;
    padding: 1rem;
    text-decoration: none;
    color: var(--cor-branco);
    display: block;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 1px solid var(--cor-branco);
}

.container__aviso {
    font-size: 0.75rem;
    color: var(--cor-cinza);
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--cor-branco);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cor-cinza);
}

.container__descricao {
    padding: 7em;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    color: var(--cor-branco);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 2em 0 10em 0;
}

.lista__item {
    font-size: 2rem;
    color: var(--cor-branco);
}

.rodape {
    text-align: center;
    margin: 6em 8em;
}

.rodape__logo {
    margin-bottom: 2em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a {
    text-decoration: none;
    color: var(--cor-branco);
    margin: 0 0.5em;
    margin-left: 1em;
}

.rodape__texto {
    font-size: 0.75em;
    color: var(--cor-cinza);
    margin: 1em 0;
}